<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="icon" type="image/x-icon" href="/static/img/emoji-smile.svg">
</head>
<body class="container" style="background-color: rgb(55, 140, 214);">
    <center> <h1> Welcome to my Page</h1> </center>
    <div style="border: 5px solid black;"><br>
      <center> <b><p style="display: inline;"> click here for registration </p></b> <br><br>
        <a href="register">   <button type="button" class="btn btn-outline-light"> registration </button>    </a></center><br>
    </div><br>
    
    <div style="border: 5px solid black;"><br>
        <center><b><p style="display: inline;">click here for login</p></b> <br><br>
        <a href="login_page">   <button type="button" class="btn btn-outline-secondary">login</button>    </a></center><br>
    </div><br>

    <div style="border: 5px solid black;"><br>
        <center><b><p style="display: inline;">click here for all data Show</p></b> <br><br>
        <a href="show">   <button type="button" class="btn btn-outline-danger">Show</button>    </a></center><br>
    </div>
</body>
</html> 